doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Tushar's Express App
  body 
  h1 Hello Express from Tushar
  h2= hero

